#root {
  text-align: center;
  height: 100vh  d;
}

.main{
  width: 100%;
}

.hero{
  height: 720px
}

.eye-brow {
  background: linear-gradient(90deg, #f1f1f175, #f5f5f575);
  border: 1px solid;
  border-image: linear-gradient(90deg, #f5f5f5, #f1f1f1) 1;
}

.nav-link {
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  color: #000;
}

img {
  border-radius: 8px;
  width: 56px;
  height: 56px;
}

.work-active{
  /* border-top: 5px solid black; */
  position: relative;
  overflow: hidden;
  background-color: #cccccc30;
  padding: 24px;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

.work-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.work-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  height: 5px;
  width: 0;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  background-color: black;

  animation: workProgress 5s linear forwards;
}

.work-active:hover::before {
  animation-play-state: paused;
  overflow: hidden;
}

.contact-me-container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../src/assets/images/contact-me-bg.png');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@keyframes workProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
