#root {
  text-align: center;
  height: 100vh  d;
}

.main{
  width: 100%;
}

.hero{
  height: 720px
}

.eye-brow {
  background: linear-gradient(90deg, #f1f1f175, #f5f5f575);
  border: 1px solid;
  border-image: linear-gradient(90deg, #f5f5f5, #f1f1f1) 1;
}

img {
  border-radius: 8px;
  width: 56px;
  height: 56px;
}

.work-active{
  /* border-top: 5px solid black; */
  position: relative;
  overflow: hidden;
  background-color: #cccccc30;
}

.work-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  height: 5px;
  width: 0;

  background-color: black;

  animation: workProgress 5s linear forwards;
}

.work-active:hover::before {
  animation-play-state: paused;
  overflow: hidden;
}

@keyframes workProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
