#root {
  text-align: center;
  height: 100vh  d;
}

.main{
  width: 100%;
}

.hero{
  height: 720px
}

.eye-brow {
  background: linear-gradient(90deg, #f1f1f175, #f5f5f575);
  border: 1px solid;
  border-image: linear-gradient(90deg, #f5f5f5, #f1f1f1) 1;
}

img {
  border-radius: 8px;
  width: 56px;
  height: 56px;
}
